@import "../../../styles/variables.scss";

.service__card {
  background-color: #eeeeee;
  height: 200px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 10px 20px;
  transition: ease-in-out 0.2s;
  position: relative;

  &:hover {
    background-color: $mainBlue;
    .title {
      color: $white;
    }
    ._circle__items {
      opacity: 1;
    }
    .svg__arrow {
      position: relative;
      right: 0px;
    }
    .svg__arrow path {
      fill: $white;
    }
  }
  .__item {
    align-items: center;
    height: 52px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: $mainDarkText;
  white-space: pre-line;
}
._circle__items {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.svg__arrow {
  position: relative;
  right: 10px;
  transition: ease-in-out 0.5s;
  @media (max-width: 768px) {
    right: 0;
  }
}
.svg__arrow path {
  transition: ease-in-out 0.4s;
}
@media (max-width: 768px) {
  .service__card {
    background-color: #f1f1f1;
    height: 118px;
    padding: 15px 15px;
    &:hover {
      background-color: #e3e3e3;
      .title {
        color: #262626;
      }
      ._circle__items {
        opacity: initial;
      }
      .svg__arrow {
        position: initial;
        right: 0;
        transition: initial;
      }
      .svg__arrow path {
        fill: $mainBlue;
      }
    }
    .__item {
      display: flex;
      height: 88px;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .title {
    margin: 0;
    font-size: 19px;
    line-height: 26px;
  }
  ._circle__items {
    display: none;
  }
  .svg__arrow path {
    transition: initial;
  }
}
