@import "../../styles/variables.scss";
.button {
  .btn_blue {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 30px;
    background: $mainBlue;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    border: none;
    &:hover {
      .button__btn_arrow {
        position: relative;
        left: 10px;
      }
    }
    .button__btn_arrow {
      margin-left: 20px;
      position: relative;
      left: 0;
      transition: ease-in-out 0.3s;
    }
  }
  .btn__light_blue {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 30px;
    background: $blue;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    border: none;
    &:hover {
      .button__btn_arrow {
        position: relative;
        left: 10px;
      }
    }
    .button__btn_arrow {
      margin-left: 20px;
      position: relative;
      left: 0;
      transition: ease-in-out 0.3s;
    }
  }
  .btn__no_bg {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 30px;
    background: none;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    border: 1px solid $darkGrayText;
    &:hover {
      .button__btn_arrow {
        position: relative;
        left: 10px;
      }
    }
    .button__btn_arrow {
      margin-left: 20px;
      position: relative;
      left: 0;
      transition: ease-in-out 0.3s;
    }
  }
}
