@import "../../../styles/variables.scss";

.projects__item {
  display: flex !important;
  @include breackpoint(xm) {
    flex-direction: column-reverse;
  }
  .item__info_adaptive {
    display: none;
  }
  .item__info {
    width: 40%;
    button {
      padding: 10px 46px !important;
      width: 100%;
    }
    padding: 20px 20px 36px 20px;
    background: #f1f1f1;
    h1,
    p {
      margin: 0;
    }
    .item__title {
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: $black;
      }
    }
    .item__subtitle {
      margin-bottom: 15px;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: $darkGrayText;
        margin-bottom: 15px;
      }
      border-bottom: 1px solid $darkGrayText;
    }
    .item__links {
      margin-top: 10px;
      margin-bottom: 20px;
      .links__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        p {
          margin-left: 15px;
          font-style: normal;
          font-weight: 300;
          font-size: 17px;
          line-height: 23px;
          color: $darkGrayText;
        }
      }
      border-bottom: 1px solid $darkGrayText;
    }
  }
  .item__img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../public/assets/images/ourProject/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .projects__item {
    flex-direction: column-reverse;
    .item__info {
      display: none;
    }
    .item__img {
      width: 100%;
      padding: 55px 40px;
    }
    .item__info_adaptive {
      display: block;
      width: 100%;
      button {
        padding: 10px 46px !important;
        width: 100%;
      }
      padding: 20px;
      background: #f1f1f1;
      h1,
      p {
        margin: 0;
      }
      .wrapper__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }
      .item__title {
        h1 {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: $black;
        }
      }
      .item__subtitle {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 23px;
          color: $darkGrayText;
          margin-bottom: 15px;
        }
      }
      .item__links {
        margin-top: 10px;
        margin-bottom: 20px;
        .links__item {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          p {
            margin-left: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 23px;
            color: $darkGrayText;
          }
        }
        border-bottom: 1px solid $darkGrayText;
        border-top: 1px solid $darkGrayText;
        padding: 12px 0;
      }
      .wrapper__title_right {
        transform: rotate(0deg);
        transition: ease-in-out 0.2s all;
      }
      .wrapper__title_right_active {
        transform: rotate(90deg);
        transition: ease-in-out 0.2s all;
      }
    }
    .item__img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../../public/assets/images/ourProject/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 280px;
      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
    }
  }
}
