@import "../../styles/variables.scss";

.ourProjects {
  h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 48px;
    color: #262626;
    margin-bottom: 30px;
    @include breackpoint(sm){
      margin-bottom: 15px;
    }
  }
}

.projects {
  margin-bottom: 70px;
  @include breackpoint(sm){
    margin-bottom: 40px;
  }
  @include breackpoint(xm) {
    position: relative;
  }
  .projects__item {
    display: flex !important;
    margin: 0 !important;
    @include breackpoint(xm) {
      flex-direction: column-reverse;
    }
    .item__info_adaptive {
      display: none;
    }
    .item__info {
      width: 40%;
      button {
        padding: 10px 46px !important;
        width: 100%;
      }
      padding: 20px 20px 36px 20px;
      background: #f1f1f1;
      h1,
      p {
        margin: 0;
      }
      .item__title {
        h1 {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: $black;
        }
      }
      .item__subtitle {
        margin-bottom: 15px;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 23px;
          color: $darkGrayText;
          margin-bottom: 15px;
        }
        border-bottom: 1px solid $darkGrayText;
      }
      .item__links {
        margin-top: 10px;
        margin-bottom: 20px;
        .links__item {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          p {
            margin-left: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 23px;
            color: $darkGrayText;
          }
        }
        border-bottom: 1px solid $darkGrayText;
      }
    }
    .item__img {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../public/assets/images/ourProject/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.customDots {
  display: flex !important;
  width: 100%;
  justify-content: center;
  position: absolute;
  align-items: center;
  padding: 0;
  gap: 5px;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  li {
    width: 50px !important;
    height: 5px !important;
    margin: 0 !important;
  }
}
