@import "../../styles/variables.scss";
.projects {
  margin-bottom: 70px;
  height: 13%;
  .projects__item {
    display: flex !important;
    .item__info {
      width: 40%;
      button {
        width: 100%;
      }
      padding: 20px 20px 36px 20px;
      background: #f1f1f1;
      h1,
      p {
        margin: 0;
      }
      .item__title {
        h1 {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: $black;
        }
      }
      .item__subtitle {
        margin-bottom: 15px;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 23px;
          color: $darkGrayText;
          margin-bottom: 15px;
        }
        border-bottom: 1px solid $darkGrayText;
      }
      .item__links {
        margin-top: 10px;
        margin-bottom: 20px;
        .links__item {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          p {
            margin-left: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 23px;
            color: $darkGrayText;
          }
        }
        border-bottom: 1px solid $darkGrayText;
      }
    }
    .item__img {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../public/assets/images/ourProject/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: 992px) {
  .projects {
    .projects__item {
      flex-direction: column;
      .item__info {
        width: 100%;
      }
      .item__img {
        width: 100%;
      }
    }
  }
}
