@import "../../styles/variables.scss";

.wrapper_title {
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  color: $mainText;
  margin-bottom: 20px;
  width: 60%;
}
.wrapper {
  margin-bottom: 70px;
}
