@import "../../styles/variables.scss";

.wrapper_title {
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  color: $mainText;
  margin-bottom: 20px;
  width: 100%;
  @media (max-width: 576px) {
    font-size: 32px;
    line-height: 40px;
  }
}
.wrapper {
  margin-bottom: 70px;
}
