@import "../../../src/styles/variables.scss";

$rubber__padding__size: calc(6vw + 5vh);
$step__height: calc(5vw + 4vh);
$step__width: calc(16vw + 16vw);
$step__numeration__width: calc(4vw + -1.5vh);

.carier__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: $rubber__padding__size;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;

  .steps__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 40px;

    .step {
      background: linear-gradient(90deg, #FFFFFF 0.85%, rgba(255, 255, 255, 0) 100%);
      filter: drop-shadow(-4px 4px 40px rgba(0, 0, 0, 0.15));
      height: $step__height;
      width: $step__width;
      display: flex;

      .step__numeration {
        width: $step__numeration__width;
        background-color: #6B6B6B;;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .step__text__container {
        padding: 10px;
        width: 100%;

        .text__title {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          color: #333333;
        }

        .text__description {
          font-style: normal;
          font-weight: 400;
          font-size: calc(1vw + 0.6vh);
          line-height: 23px;
          color: #797979;
        }
      }
    }
  }

  .text__content {
    width: 58%;

    button {
      margin-top: 40px;
    }

    .content__title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 60px;
      color: #262626;
      margin: 0 0 10px 0;
    }

    .content__description {
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      color: #797979;
      margin: 0;
    }

    .content__letter__text {
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 28px;
      color: #797979;
    }
  }

  .carier__line {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #B8B8B8;
  }
}