@import  "../../styles/variables.scss";
.aside {
  display: grid;
  grid-template-columns: 4px 1fr;
  height: 283px;
  gap: 24px;
  .__scroll {
    background: #d9d9d9;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 48px;
      background-color: $mainBlue;
    }
  }
  .__item {
    display: flex;
    flex-direction: column;
    .__links {
      height: 48px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 200;
      font-size: 19px;
      color: $mainDarkText;
      &:hover {
        font-weight: 600;
        color: $mainDarkText;
      }
    }
  }
}
