@import "../../styles/variables.scss";

.aside_item {
  display: grid;
  grid-template-columns: 4px 1fr;
  height: 283px;
  gap: 24px;
  @include breackpoint(sm) {
    display: none;
  }
  .aside_scroll {
    background: #d9d9d9;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 48px;
      background-color: #0e61fe;
    }
  }
  .aside_inner {
    display: flex;
    flex-direction: column;
    .aside_item_links {
      height: 48px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 200;
      font-size: 19px;
      color: #333333;
      &:hover {
        font-weight: 600;
        color: #333333;
      }
    }
  }
}
