@import "../../styles/variables.scss";

.aside_item {
  display: grid;
  grid-template-columns: 4px 1fr;
  height: 283px;
  gap: 24px;
  position: sticky;
  top: 17%;
  margin-bottom: 87px;
  .aside_scroll_it {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_service {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 50px;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_stack {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 100px;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_team{
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 150px;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_reviews {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 200px;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_we {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 240px;
      left: 0;
      position: absolute;
    }
  }
  .aside_scroll_project {
    @include breackpoint(sm) {
      display: none;
    }
    background: #d9d9d9;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    .aside__scroll_before{
      transition: all 0.2s ease;
      width: 4px;
      height: 48px;
      background: #0e61fe;
      top: 290px;
      left: 0;
      position: absolute;
    }
  }
  .aside_inner {
    @include breackpoint(sm) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    .aside_item_links {
      height: 48px;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 200;
      font-size: 19px;
      color: #333333;
      &:hover {
        font-weight: 600;
        color: #333333;
      }
    }
  }
}
