$mainBlue: #0E61FE; // text for blue hovers, buttons and some backgrounds
$white: #FFFFFF; // just white color
$black: #000000; //just black color
$mainText: #323232; //main black text
$mainDarkText: #333333; //for navbar and header
$grayText: #DEDEDE; //for text only in main (title, description)
$darkGrayText: #797979; //for feedback and projects block