$mainBlue: #0e61fe; // text for blue hovers, buttons and some backgrounds
$white: #ffffff; // just white color
$blue: #6298ff; //this blue for in figma rauseble
$black: #000000; //just black color
$mainText: #323232; //main black text
$mainDarkText: #333333; //for navbar and header
$grayText: #dedede; //for text only in main (title, description)
$darkGrayText: #797979; //for feedback and projects block

@mixin breackpoint($point) {
  @if $point==xxl {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point==ms {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point==md {
    @media (max-width: 997px) {
      @content;
    }
  } @else if $point==sm {
    @media (max-width: 776px) {
      @content;
    }
  } @else if $point==xm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point==xs {
    @media (max-width: 380px) {
      @content;
    }
  }
}
