@import "../../../src//styles/variables.scss";

$title__size: calc(2vw + 2vh);
$line__height: calc(3vw + 2vh);

.serviceMain {
  background-color: $mainDarkText;
  padding: 50px 0px;
  @include breackpoint(sm) {
    margin-bottom: 30px !important;
  }
  h2 {
    font-family: "Nunito Sans";
    font-style: normal;
    width: 50%;
    font-weight: 300;
    font-size: $title__size;
    line-height: $line__height;
    color: $white;
    margin-bottom: 25px;
  }
}

.processMain {
  background-color: $white;
  padding-top: 20px;
  margin-bottom: 50px;
  @include breackpoint(sm) {
    margin-bottom: 30px !important;
  }
  h2 {
    font-family: "Nunito Sans";
    font-style: normal;
    width: 50%;
    font-weight: 300;
    font-size: $title__size;
    line-height: $line__height;
    color: #262626;
    margin-bottom: 25px;
  }
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  $title__size: calc(3vw + 2vh);
  $line__height: calc(4vw + 2vh);
  .serviceMain {
    background-color: #f1f1f1;
    padding: 20px 20px;
    h2 {
      color: #262626;
      width: 56%;
      font-size: $title__size;
      line-height: $line__height;
      margin: 0;
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }
  .processMain {
    background-color: #f1f1f1;
    padding: 20px 20px;
    h2 {
      color: #262626;
      width: 100%;
      margin: 0;
      font-size: $title__size;
      line-height: $line__height;
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }
}
@media (max-width: 412px) {
  .serviceMain {
    h2 {
      width: 68%;
    }
  }
}
