@import "../../styles/variables.scss";

.footer__main {
  background: #262626;
  padding: 30px 20px 25px;

  .line,
  .line__mobile {
    border: 1px solid #646464;
    margin: 20px 0;
    @media (max-width: 768px) {
      margin: 15px 0;
    }
  }

  .bottom__content {
    display: grid;
    gap: 75px;
    grid-template-columns: 3fr 1fr 2fr 1fr;

    .about__block__mobile,
    .line__mobile,
    .solid__links {
      display: none;
    }

    @media (max-width: 1024px) {
      grid-template-columns: 2fr 1fr;
      gap: 50px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;

      .about__block,
      .pages__block,
      .service__block {
        display: none;
      }

      .about__block__mobile,
      .line__mobile {
        display: block;
      }

      p {
        margin: 0;
        font-size: 14px !important;
        line-height: 19px !important;
        color: #afafaf !important;
      }

      .solid__links {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #afafaf;
        }
      }
    }

    h3 {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $white;

      @media (max-width: 768px) {
        display: none;
      }
    }

    a,
    p {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 23px;
      color: #d3d3d3;
    }
  }
}
