.ourTeam_card {
  position: relative;
  &:hover {
    .our__team__item_hovered {
      opacity: 1;
    }
  }
}
.our__team__item_hovered {
  background: #f1f1f1;
  border: 1px solid #d0d0d0;
  position: absolute;
  left: 0;
  top: 0;
  transition: ease-in-out 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.our__team__item_fullName, .our__team__item_position{
    margin: 0;
    padding: 0;
}
.our__team__item_fullName {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
}

.our__team__item_position {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #323232;
}
