@import "../../../../styles/variables.scss";

.under__footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }

  p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: $white;
    margin: 20px 0px 0px 0;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 19px;
      color: #afafaf;
    }
  }

  .footer__politic {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
