@import "../../styles/variables.scss";

$variableSize: calc(20vw + 18vh);
$title__size: calc(2vw + 2vh);
$description__size: calc(0.8vw + 1vh);

.main {
  padding: 37px 0 30px;
  @include breackpoint(xm) {
    background-color: #494949;
  }
  .main__content {
    display: flex;
    @include breackpoint(md) {
      flex-direction: column-reverse;
    }
    @include breackpoint(xm) {
      flex-direction: column-reverse;
    }
    .content__image_nonAdaptive {
      width: 100%;
      object-fit: contain;
      @include breackpoint(md) {
        width: 100%;
        object-fit: contain;
      }
      @include breackpoint(xm) {
        display: block;
        object-fit: contain;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
    .content__image_adaptive {
      width: 100%;
      object-fit: contain;
      @include breackpoint(xm) {
        display: block;
        margin: -2vh 0 25px 0;
        object-fit: contain;
      }
      @media (min-width: 601px) {
        display: none;
      }
    }

    .content__text__wrapper {
      padding: 20px 0px 70px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      @include breackpoint(xm) {
        padding: 0px 20px 0px;
      }
      button {
        margin-bottom: 25px;
        @include breackpoint(xm) {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .content__title {
      font-style: normal;
      font-weight: 300;
      font-size: $title__size;
      line-height: 60px;
      color: #262626;
      @include breackpoint(xm) {
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        color: #ffffff;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }
    }

    .content__description {
      width: 100%;
      font-style: normal;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: $description__size;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: $darkGrayText;
      @include breackpoint(sm) {
        margin-bottom: 20px;
      }
      @include breackpoint(xm) {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #d3d3d3;
      }
      p {
        margin: 0;
      }
    }
  }

  @media (max-width: 992px) {
    .main {
      padding: 30px 0px;
    }
  }
}
