.main__reasons {
    h2 {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        color: #262626;
        margin-bottom: 25px;
    }

    .reasons__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px 32px;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .reasons__line {
        border: 1px solid #b8b8b8;
        margin: 50px 0;
    }
}